#compute{
  background-color:GreenYellow
}

.tab-pane[data-value="APP"] * {
	font-weight: bold;
}

.tab-pane[data-value="HELP"] {
	background-color: #f5fbe5;
}

body{
  background-color: #eaf2ed;
}

.navbar{
  position: sticky;
  top: 0;
  left: 0;
}
.navbar-brand{
  padding: 0;
}
h1{
  margin-top: 3px;
  margin-left: 10px
}

.navbar-nav{
  float: right;
  margin-right: 30px;
}


.buttons{
  display: flex;
  flex-direction: row;
  justify-content:  space-between;

}

.buttons > div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.irs-grid-text {
	color: #292e39;
}
.awesome-marker:hover{
 filter:hue-rotate(40deg) saturate(4)
}
